
/* Small Safe House Page Styles ------------------*/

.SmallSafehousePage {
    margin: auto;
    padding: auto;
    background-color: black;

}

/* HomePage Styles --------------------*/

.Homepage .body {
    background-color: black;
    color: greenyellow;
}

.h1 {
    color: white;
    background-color: black;
}
/* MenuBar styles ------------------------ */

.MenuBar {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

