
/* Small Safe House Page Styles ------------------*/

.SmallSafehousePage {
    margin: auto;
    padding: auto;
    background-color: black;

}

/* HomePage Styles --------------------*/

.Homepage section {
    background-color: black;
}
#h1 {
    color: green;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

#h3 {
    color: rgb(106, 156, 30);
    text-align: center;
}

.header {
    background-color: black;
}
/* MenuBar styles ------------------------ */

.MenuBar {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

