
/* Small Safe House Page Styles ------------------*/

.SmallSafehousePage {
    margin: auto;
    padding: auto;
    background-color: black;

}

/* HomePage Styles --------------------*/

.Homepage section {
    background-color: black;
}
#h1 {
    color: green;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Chat {
    background: black;
    color: rgb(106, 156, 30);
    margin: auto;
    text-align: center;
}
#h3 {
    color: rgb(106, 156, 30);
    text-align: center;
}

.header {
    background-color: black;
}
/* MenuBar styles ------------------------ */

.MenuBar {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}


.MenuBar svg {
    width: 32px;
    height: 32px;
}

#img3 {
    width: 50px;
    height: 50px;
}

#img2 {
    width: 50px;
    height: 50px;
}

#img1 {
    width: 50px;
    height: 50px;
}